html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.basic-card.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 10px;
}

.btn-primary,
.bg-dark {
  background-color: #35305e !important;
}

a,
a:hover {
  text-decoration: none;
  color: #35305e;
}

.spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-font {
  font-size: 12px;
}

.login {
  margin-top: 6%;
}

.login .card-bg {
  background: #efefef;
}

.login .card-body .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .card-body img {
  margin: auto;
  display: block;
  margin-bottom: 2rem;
}

.frgt-psw {
  margin-top: 10px;
  font-size: 13px;
}

.login-or {
  color: #d4d4d4;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.login-or .or-line {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

.login-or .span-or {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 42px;
}

.btn-fb {
  background-color: #3a559f;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
}

.btn-google {
  background-color: #af1e0b;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
}

.notice p {
  text-align: center;
  margin: 0;
  background: #ccc;
  padding: 6px;
}

.navbar .dropdown-item {
  text-transform: capitalize;
}

.navbar .dropdown-item:last-child {
  border-bottom: none;
}

.navbar .nav-link {
  font-size: 14px;
  padding-right: 1.5rem !important;
}

.ban {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fee7e7;
  text-align: center;
}

.ban h3 {
  margin-bottom: 2rem;
}

.whats {
  margin-top: 3rem;
  text-align: center;
}

.whats2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
  color: #808080;
}

.whats2 a {
  color: #808080;
}

.whats2 a:hover {
  color: #35305e;
}

.whats2 p {
  font-size: 4rem;
  margin-bottom: 0;
}

.heading {
  font-size: 24px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */