@import './colors/color.scss';
@import './reset/reset.scss';


//commom css
.basic-card {
    &.card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 10px;
    }
}

.btn-primary,
.bg-dark {
    background-color: $primary !important;
}

a,
a:hover {
    text-decoration: none;
    color: $primary;
}

.spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-font {
    font-size: 12px;
}

.login {
    margin-top: 6%;

    .card-bg {
        background: #efefef;
    }

    .card-body {
        .row {
            align-items: center;
        }

        img {
            margin: auto;
            display: block;
            margin-bottom: 2rem;
        }
    }
}

.frgt-psw {
    margin-top: 10px;
    font-size: 13px;
    // a {
    //     font-size: 13px;
    // }
}

.login-or {
    color: #d4d4d4;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;

    .or-line {
        background-color: #e5e5e5;
        height: 1px;
        margin-bottom: 0;
        margin-top: 0;
        display: block;
    }

    .span-or {
        background-color: #fff;
        display: block;
        left: 50%;
        margin-left: -20px;
        position: absolute;
        text-align: center;
        top: -3px;
        width: 42px;
    }


}

.btn-fb {
    background-color: #3a559f;
    color: #fff;
    font-size: 13px;
    padding: 8px 12px;
}

.btn-google {
    background-color: #af1e0b;
    color: #fff;
    font-size: 13px;
    padding: 8px 12px;
}

//index page
.notice {
    p {
        text-align: center;
        margin: 0;
        background: #ccc;
        padding: 6px;
    }
}

.navbar {
    .dropdown-item {
        // border-bottom: 1px solid #ccc;
        text-transform: capitalize;

        &:last-child {
            border-bottom: none;
        }
    }

    .nav-link {
        font-size: 14px;
        padding-right: 1.5rem !important;
    }
}

.ban {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fee7e7;
    text-align: center;

    h3 {
        margin-bottom: 2rem;
    }
}

.whats {
    margin-top: 3rem;
    text-align: center;
}

.whats2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    color: $darkgray;

    a {
        color: $darkgray;

        &:hover {
            color: $primary;
        }
    }

    p {
        font-size: 4rem;
        margin-bottom: 0;
    }

}

.heading {
    font-size: 24px;
    font-weight: 500;
}